.sidebar {
  width: 240px;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

/* Logo */
.logo {
  text-align: center;
  margin-bottom: -100px;
  cursor: pointer;
}

/* .logo-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  font-weight: bold;
} */

.logo-icon img {
  width: 100px;
  height: auto;
}

/* Menu */
.menu, .bottom-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item img {
  width: 25px;
}

.menu-item:hover {
  background: #1e293b;
}

.menu-item.active {
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
}

.menu-item.active img {
  width: 30px;
}

.icon {
  font-size: 16px;
}


.logout {
  color: #f87171;
}