<div class="sidebar">
  <!--Logo-->
  <div class="logo" (click)="navigate('/admin')">
    <div class="logo-icon">
      <img src="/CodeMark Logo.png" alt="CodeMark Logo" />
    </div>
  </div>

  <!--Menu-->
  <div class="menu">
    <div class="menu-item" [class.active]="activeRoute === '/admin'" (click)="navigate('/admin')">
      <img src="/Dashboard.png" alt="Dashboard Icon" class="icon" />
      <span>Dashboard</span>
    </div>

    <div
      class="menu-item"
      [class.active]="activeRoute === '/manage-users'"
      (click)="navigate('/manage-users')"
    >
      <img src="Users.png" alt="" />
      <span>Manage Users</span>
    </div>

    <div
      class="menu-item"
      [class.active]="activeRoute === '/system-log'"
      (click)="navigate('/system-log')"
    >
      <img src="Logs.png" alt="" />
      <span>System Log</span>
    </div>

    <div
      class="menu-item"
      [class.active]="activeRoute === '/system-data'"
      (click)="navigate('/system-data')"
    >
      <img src="Data.png" alt="" />
      <span>System Data</span>
    </div>
  </div>

  <!-- Bottom Menu -->
  <div class="bottom-menu">
    <div class="menu-item">
      <img src="/Support.png" alt="Settings Icon" class="icon" />
      <span>Support</span>
    </div>

    <div class="menu-item logout" (click)="logout()">
      <span>Logout</span>
    </div>
  </div>
</div>
